
<div class="container">
  <div class="row">
    <div class="search-bar">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for any of the fields shown">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Size</th>
        <th>Price</th>
        <!--<th>Barcode</th>-->
        <th>Department</th>
        <!--<th>Available Quantity</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of inventory | filter:searchText">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.size}}</td>
        <td>${{item.price}}</td>
        <!--<td>{{item.barcode}}</td>-->
        <td>{{item.department}}</td>
        <!--<td>{{item.quantity}}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
